<div class="slide-layout--chart">
  <h2>{{ slide.title | default('') }}</h2>
  <div id="{{ slide.chart_id | default('chart_unknown') }}" class="chart-container" style="width:100%; height:450px;"></div>
</div>
