<div class="slide-layout--bullets">
  <h2>{{ slide.title | default('') }}</h2>
  {% if slide.content and slide.content.groups %}
    {% for group in slide.content.groups %}
      {% if group.heading %}
      <div class="group-heading">{{ group.heading }}</div>
      {% endif %}
      <ul>
        {% for item in group['items'] | default([]) %}
        <li class="{{ 'level-2' if item.level is defined and item.level > 1 else '' }}">{{ item.text }}</li>
        {% endfor %}
      </ul>
    {% endfor %}
  {% endif %}
</div>
